{% extends 'base.html' %}

{% block content %}
<h2>Iniciar Sesión</h2>
<form method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label }} {{ form.username(size=32, class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label }} {{ form.password(class="form-control") }}
    </div>
    <div class="form-group form-check">
        {{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label(class="form-check-label") }}
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
{% endblock %}
